/* HTML Selectors */
body {
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    list-style-type: none;
    text-align: center;
}
div {
    margin: 10px;
    text-align: center;
}

footer {
    background-color: #ffb6c1;
    color: white;
    padding: 5px;
    text-align: center;
}
header {
    margin: auto;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: small;
}

label {
    display: inline-block;
    min-width: 120px;
    text-align: right;
    font-family: 'Amatic SC', cursive;
}

main {
    justify-content: center;
}

nav {
    background-color: white;
    margin: auto;
    text-align: center;

}
nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin: 0;
    padding: 0;
}

nav ul li:first-child {
    display: block;
}

nav ul li {
    display: none;
    list-style: none;
    margin: 10px;
}

nav ul li a {
    color: #ffb6c1;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-family: 'Roboto' sans-serif;
}

nav ul li a:hover {
    background-color: #efefef;
    color: #ffb6c1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

/* Class Selectors */
.active {
    background-color: white;
    color: black;
}

.open li {
    display: block;
}

/* ID Selectors */

/* Media Queries */
@media all and (max-width: 32.5em) {
    nav ul {
        flex-direction: column;
    }
    
    nav ul li:first-child {
        display: none;
    }

    nav ul li {
        display: inline;
        margin: 0 10px;
    }
}

h1{
    font-family: 'Lobster Two', cursive;
    font-size: 70px;
    text-align: center;
    color: #ffb6c1;
}

h3{
    font-size: 40px;
    color: white;
}
p{
    font-family: 'Roboto',sans-serif;
    font-size: large;

}
img{
    height: 350px;
    width: auto;
}
.photo{
    height: 350px;
    width: auto;
    margin-left: 0px;

}
.columns{
    column-count: 2;
}


/*home page code*/

.pane1{
    margin: auto;
    position: center;
    width: 515px;
    height: 420px;
    background-color:#ffb6c1;
    color: black;
    text-align: center;
}
.pane2{
    margin: auto;
    position: center;
    width: 515px;
    height:410px;
    background-color:#ffb6c1;
    color: black;
    text-align: center;
}
.pane3{
    margin: auto;
    position: center;
    width: 515px;
    height:410px;
    background-color:#ffb6c1;
    color: black;
    text-align: center;
}
.side-pane{
    float:left;
    margin-left: 70px;
    width: 35%;
    box-sizing: border-box;
}

/*buttons*/
.button{
    background-color: #ffb6c1;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Roboto',sans-serif ;
    text-align: center;
}
.button2{
    background-color: white;
    border: none;
    color: #ffb6c1;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Roboto',sans-serif ;
    text-align: center;
}
li{
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    color: #ffb6c1;
    font-size: xx-large;
}
hr{
    size: 1px;
}
.icons{
    color: #ffb6c1;
}